* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #355872;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vh;
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.subtitle {
    margin-bottom: 50px;
}

.container {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.card {
    background-color: #7aaace;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: #e5e5e5;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    transform: scale(1.05);
}

textarea {
    width: 350px;
    height: 180px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 15px;
    background-color: #e5e5e5;
    transition: 0.3s;
}

textarea:focus {
    transform: scale(1.05);
}

.whatsapp-btn {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #25D366;
    padding: 15px 30px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 30px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background-color: #17a74a;
    transform: scale(1.05);
}

.contato-info {
    margin-top: 40px;
    font-size: 24px;
}

.contato-info h3 {
    margin-bottom: 15px;
}

.contato-info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.contato-info i {
    font-size: 20px;
    padding-right: 10px;
}
